@import url("reset.css");

@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
    font-family: sans-serif;
}

header {
    background: #222 url("/images/padded.png");
    box-shadow: inset 0 -3px 5px #000, 0 1px 0 rgba(255,255,255, 0.15);
    color: #fff;
    font: 400 16px/2.5em "Lobster", sans-serif;
    position: relative;
    text-shadow: 0 1px 3px #000;
    text-indent: 15px;
    z-index: 9999;
}

header small {
    font-family: sans-serif;
}

a {
    color: #2af;
}

a.twitterauth {
    position: absolute;
    right: 150px;
    top: 5px;
}

#map_canvas {
    width: 100%;
    height: 80%;
}

/* Tweet styles */

p {
    margin-bottom: 5px;
}

em {
    color: #aaa;
    font-style: italic;
    font-size: 0.875em;
}

img.profile {
    float: left;
    margin-right: 3%;
    max-width: 60px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    border: 1px solid #D9D9D9;
}