{
  "consumer_key"        : "6GwherBXMOW9cIywQUThw",
  "consumer_secret"     : "LDJHVYJvetYxhy9PCkad7HiqD4FPSrncksILwcAzVQ",
  "access_token_key"    : "30547882-m1Hq3bf2gCiALWSqD24zYc63mHSzjwYo9uQIgz3nF",
  "access_token_secret" : "l8LI7ib6q2f3jLwMewNtPtm8vHFbVOLYNFQJS2eSU",

  "callback_url"        : "http://www.fail.com/"
}
