<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Twitter Map</title>
        
        <link rel="stylesheet" href="/css/style.css" />
        
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jquery.js"></script>
        
    </head>
    
    <body>
        
        <header>
            Twitter Map 
            <!--
            <a class="twitterauth" href="/auth/twitter">
                <img src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" />
            </a>
            -->
        </header>

        <a href="http://github.com/nhunzaker/twittermap" target="_blank"><img style="position: absolute; z-index:9999; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
        
        <%- body %>
        
        <script src="/js/map.js"></script>

    </body>
</html>
