<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Twitter Map</title>

        <link rel="stylesheet" href="/css/style.css" />        <link rel="stylesheet" href="/leaf/leaflet.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/leaf/leaflet.ie.css" /><![endif]-->

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jquery.js"></script>
        
    </head>
    
    <body>
        
        <header>
            Twitter Map <a class="info" href="#about">i</a>
        </header>

        <%- body %>
        
        <%- partial("./about.ejs") %>

        <!--
        We should support both google maps as well as Leaflet.
        <script src="/js/map.js"></script>
        Maybe try to make an api on top of the two similar parts?
        -->

        <script src="/leaf/leaflet.js"></script>
        <script src="/js/leafletMap.js"></script>

    </body>
</html>
