<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Twitter Map</title>

        <link rel="stylesheet" href="/css/style.css" />
        
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jquery.js"></script>
        
    </head>
    
    <body>
        
        <header>
            Twitter Map <a class="info" href="#about">i</a>
        </header>

        <%- body %>
        
        <%- partial("./about.ejs") %>

        <script src="/js/map.js"></script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-19230428-3']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>
